*{
    box-sizing: border-box;
}

body {
    margin: 0;
    
}

nav > img{
    width: 40px;
    margin-right: 10px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#F55A5A;
    color: aliceblue;
    height: 55px;
    font-size: 19x;
}

#entry-img{
    width: 150px;
    height: 170px;
    object-fit: cover;
    margin-top: 50px;
    margin-left: 50px;
    overflow: hidden;
    border-radius: 9px;
    flex-shrink: 0; 
}

#journal-entry{
    display: flex;
    
}

#div1{
    margin-top: 55px;
    margin-left: 10px;
    
    
}

#text{
    align-items: start;
}

#marker{
    width: 10px;
}

#link-japan{
    margin-left: 15px;
    text-decoration: none;
}

p{
    font-size: 13px;    
}